---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Feather</title>
  <meta name="description" content="Simply beautiful open source icons. Each icon is designed on a 24x24 grid with an emphasis on consistency and simplicity.">
  <meta property="og:title" content="Feather">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Simply beautiful open source icons">
  <meta name="twitter:card" content="summary">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  {% include header.html %}
  {% include icons.html %}
  {% include request.html %}
  {% include footer.html %}
</body>
</html>
