---
title: Feather – Simply beautiful open source icons
description: Designed on a 24x24 grid with an emphasis on functionality, consistency and simplicity.
links:
- title: Donate
  url: https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=G6CPFZ6PQRZW8&lc=US&item_name=Feather&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted
- title: GitHub
  url: https://github.com/colebemis/feather
- title: Change Log
  url: https://github.com/colebemis/feather/blob/gh-pages/CHANGELOG.md
- title: License
  url: https://github.com/colebemis/feather/blob/gh-pages/LICENSE
- title: Contact
  url: mailto:cole@colebemis.com
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:image" content="https://feathericons.com/assets/feather-preview.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@colebemis">

  <link rel="shortcut icon" type="image/png" href="assets/favicon.png">

  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400" rel="stylesheet">
  <link href="https://unpkg.com/tachyons/css/tachyons.min.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
</head>
<body class="ma0 rubik font-smoothing black-60 bg-white">

  {% include header.html %}
  {% include hero.html %}
  {% include icons.html %}
  {% include footer.html links=page.links %}

  </script>
</body>
</html>
