:root {
  --accent: #4353FF;
}

.accent {
  color: var(--accent);
}

.bg-accent {
  background-color: var(--accent);
}

.rubik {
  font-family: "Rubik", sans-serif;
}

.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
}

.button-outline {
  box-shadow: inset 0 0 0 1px currentColor;
}

.lh-none {
  line-height: 0;
}

.ellipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-gap: 1rem;
}

.svg [stroke] {
  stroke: currentColor;
}

.svg [fill]:not([fill=none]) {
  fill: currentColor;
}