.rubik {
  font-family: "Rubik", sans-serif;
}

.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-accent {
  background-color: #0055ff;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
}

.lh-none {
  line-height: 0;
}

.ellipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.svg [stroke] {
  stroke: currentColor;
}

.svg [fill]:not([fill=none]) {
  fill: currentColor;
}

.icon-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -0.5rem -1rem;
}

.icon-grid li {
  width: 100%;
  padding: 0 0.5rem 1rem;
}

/* medium breakpoint */
@media (min-width: 30em) {
  .icon-grid li {
    width: 50%;
  }
}

/* large breakpoint */
@media (min-width: 60em) {
  .icon-grid li {
    width: 25%;
  }
}

/* if supported, use grid layout  */
@supports (display: grid) {
  .icon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-gap: 1rem;
    margin: 0;
  }

  /* override default styles */
  .icon-grid li {
    width: 100%;
    padding: 0;
  }
}
