.rubik {
  font-family: "Rubik", sans-serif;
}

.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-accent {
  background-color: #0055ff;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.125rem;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
}

.lh-none {
  line-height: 0;
}

.ellipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.svg [stroke] {
  stroke: currentColor;
}

.svg [fill]:not([fill=none]) {
  fill: currentColor;
}

.icon-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -0.5rem -1rem;
}

.icon-grid li {
  width: 100%;
  padding: 0 0.5rem 1rem;
}

/* medium breakpoint */
@media (min-width: 30em) {
  .icon-grid li {
    width: 50%;
  }
}

/* large breakpoint */
@media (min-width: 60em) {
  .icon-grid li {
    width: 25%;
  }
}

/* if supported, use grid layout  */
@supports (display: grid) {
  .icon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    grid-gap: 1rem;
    margin: 0;
  }

  /* override default styles */
  .icon-grid li {
    width: 100%;
    padding: 0;
  }
}

/* Carbon Ads */

#carbonads {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  background: #f4f4f4;
  border-radius: .125rem;
}

#carbonads a {
  text-decoration: none;
}

.carbon-wrap {
  display: flex;
}

.carbon-img {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  line-height: 0;
}

.carbon-text {
  color: currentColor;
}

.carbon-poweredby {
  display: block;
  margin-top: 1rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 45em) {
  #carbonads {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    max-width: 11rem;
    margin: 0;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
  }

  .carbon-wrap {
    flex-direction: column;
    align-items: center;
  }

  .carbon-img {
    margin-right: 0;
  }

  .carbon-text {
    text-align: center;
    margin-top: 1rem;
  }
}
