---
---

/* Variables */

$color-primary: #000;
$color-text-primary: rgba($color-primary, 0.9);
$color-text-secondary: rgba($color-primary, 0.5);
$color-border: rgba($color-primary, 0.1);
$color-accent: #0090FF;
$color-accent-lighter: rgba($color-accent, 0.5);
$color-accent-darker: #0086EC;

$transition-duration: 200ms;
$border-radius: 0.375rem;

/* Mixins */

@mixin for-tablet-portrait-up {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
   }
}

/* General */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $color-text-primary;
}

a {
  text-decoration: none;
  color: currentColor;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}

.container {
  width: 85%;
  max-width: 64rem;
}

.button {
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: $border-radius;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition:
    color $transition-duration,
    background-color $transition-duration,
    box-shadow $transition-duration;
}

.button-primary {
  color: white;
  background-color: $color-accent;

  &:hover {
    background-color: $color-accent-darker;
  }
}

.button-secondary {
  color: $color-accent;
  box-shadow: inset 0 0 0 1px $color-accent-lighter;

  &:hover {
    color: $color-accent-darker;
    box-shadow: inset 0 0 0 1px $color-accent;
  }
}

/* Header */

.header {
  text-align: center;

  @include for-tablet-portrait-up {
    text-align: left;
  }
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include for-tablet-portrait-up {
    flex-direction: row;
    align-items: center;
  }
}

.title {
  margin: 0 0 0.5rem;
  font-size: 2rem;
  font-weight: 300;
}

.description {
  margin: 0;
  color: $color-text-secondary;
}

.header-button-group {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;

  @include for-tablet-portrait-up {
    flex-direction: row-reverse;
    margin-top: 0;

    .button {
      margin-left: 1rem;
    }
  }

  .button + .button {
    margin-top: 1rem;

    @include for-tablet-portrait-up {
      margin-top: 0;
    }
  }
}

/* Icons */

.icons {
  padding: 3rem 0;
  background: #f5f5f5;
}

.icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feather-icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 1rem;
  stroke-width: 2px;

  > svg {
    width: 100%;
    height: 100%;
    stroke: currentColor;
    stroke-width: inherit;
  }
}

/* Request */

.request-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.request-heading {
  margin: 0 0 1.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}

/* Footer */

.footer {
  padding: 1rem 0;
  border-top: 1px solid $color-border;

  @include for-tablet-landscape-up {
    padding: 4rem 0;
  }
}

.footer a {
  transition: color $transition-duration;

  &:hover {
    color: $color-accent;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-main {
  display: flex;
  flex-direction: column;

  @include for-tablet-landscape-up {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  color: $color-text-secondary;

  @include for-tablet-landscape-up {
    flex-direction: row;
  }
}

.footer-link {
  border-bottom: 1px solid $color-border;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;

  @include for-tablet-landscape-up {
    border-bottom: none;
    margin-left: 2rem;
  }

  a {
    display: inline-block;
    width: 100%;
    padding: 1rem 0;

    @include for-tablet-landscape-up {
      padding: 0;
    }
  }
}

.made-with-love {
  margin: 2rem 0 1rem;
  text-align: center;

  @include for-tablet-landscape-up {
    margin: 0;
  }
}

.icon-count {
  margin: 0 0 1rem;
  font-size: 0.875rem;
  text-align: center;
  color: $color-text-secondary;

  @include for-tablet-landscape-up {
    align-self: flex-start;
    margin: 0;
  }
}
