<footer class="section footer">
  <div class="container footer-container">
    <div class="footer-main">
    <ul class="footer-links">
      <li class="footer-link"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=G6CPFZ6PQRZW8&lc=US&item_name=Feather&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted" target="_blank">Donate</a></li>
      <li class="footer-link"><a href="https://github.com/colebemis/feather" target="_blank">GitHub</a></li>
      <li class="footer-link"><a href="https://github.com/colebemis/feather/releases" target="_blank">Release Notes</a></li>
      <li class="footer-link"><a href="https://github.com/colebemis/feather/blob/master/LICENSE" target="_blank">License</a></li>
      <li class="footer-link"><a href="mailto:cole@colebemis.com" target="_blank">Contact</a></li>
    </ul>
    <p class="made-with-love"><a href="http://colebemis.com" target="_blank">Made with &lt;3 by Cole Bemis</a></p>
    </div>
    <p class="icon-count">{{ site.data.icons | size }} icons and counting</p>
  </div>
</footer>