<footer class="flex flex-column items-center pt5-ns pb5">
  <ul class="flex flex-column flex-row-l justify-center w-80 mv0 pl0 list">
    {% for link in include.links %}
    <li class="mh3-l pv3 pv0-l f5 bb b--black-10 bn-l">
      <a class="lh-copy color-inherit no-underline dim" href="{{ link.url }}" target="_blank">{{ link.title }}</a>
    </li>
    {% endfor %}
  </ul>

  <p class="mt5 mb2 lh-copy black-90 dim">
    <a class="no-underline color-inherit" href="http://colebemis.com" target="_blank">Made with &lt;3 by Cole Bemis</a>
   </p>
</footer>