<footer class="section footer">
  <div class="container footer-container">
    <div class="footer-main">
    <ul class="footer-links">
      <li class="footer-link"><a href="#">Donate</a></li>
      <li class="footer-link"><a href="#">GitHub</a></li>
      <li class="footer-link"><a href="#">Release Notes</a></li>
      <li class="footer-link"><a href="#">License</a></li>
      <li class="footer-link"><a href="#">Contact</a></li>
    </ul>
    <p class="made-with-love"><a href="#">Made with &lt;3 by Cole Bemis</a></p>
    </div>
    <p class="icon-count">{{ site.data.icons | size }} icons and counting</p>
  </div>
</footer>