<header class="section header">
  <div class="container header-container">
    <div>
      <h1 class="title">Feather</h1>
      <p class="description">Simply beautiful open source icons</p>
    </div>
    <div class="header-button-group">
      <a class="button button-primary" href="#">Download</a>
      <a class="button button-secondary" href="https://twitter.com/intent/tweet?text=Feather%20-%20Simply%20beautiful%20open%20source%20icons%20by%20%40colebemis%20colebemis.github.io/feather" target="_blank">Tweet</a>
    </div>
  </div>
</header>
