<header class="flex flex-column items-center w-80 mw8 pv5 pv6-ns center">
    <h1 class="mt0 mb2 f2 fw3 tc lh-title black-90">Feather</h1>
    <p class="mt0 mb5 mb4-ns f5 tc lh-copy">Simply beautiful open source icons</p>

    <div class="flex flex-column flex-row-ns items-stretch justify-center w-100">
      <a
        class="btn mb3 mb0-ns mr3-ns white bg-accent br3 dim"
        href="feather-{{ site.data.package.version }}.zip"
        download
        onclick="ga('send', 'event', 'download', 'click', 'all');">
        Download
      </a>
      <a
        class="btn btn-outline accent br3 dim"
        href="https://twitter.com/intent/tweet?text=Feather%20-%20Simply%20beautiful%20open%20source%20icons%20by%20%40colebemis%20colebemis.github.io/feather"
        target="_blank"
        onclick="ga('send', 'event', 'share', 'click', 'twitter');">
        Tweet
      </a>
    </div>
</header>
