<li class="icon relative pa3 ma2 black-90 bg-animate br3 outline-0 pointer">
    {% include_relative {{ include.icon.path }} %}
    <div class="tooltip flex flex-column tc white bg-dark-gray br3">
      <p class="dib mh4 mv3 lh-copy nowrap">{{ include.icon.basename }}</p>
      <a
        class="btn white bg-black-90 dim br3 br--bottom outline-0"
        href="{{ include.icon.path }}"
        download
        tabindex="-1"
        onclick="ga('send', 'event', 'download', 'click', '{{ include.icon.basename }}');">
        Download
      </a>
    </div>
  </li>
