{% assign tags = site.data.tags[include.icon.basename] | split: ", " | join " " %}
<li>
  <a
    href="{{ include.icon.path }}"
    class="icon flex flex-row items-center dib pa3 pa4-ns br1 no-underline dark-gray bg-near-white bg-animate hover-bg-light-gray"
    download
    onclick="ga('send', 'event', 'download', 'click', '{{ include.icon.basename }}');">
    <span class="svg flex-none lh-none">{% include_relative {{ include.icon.path }} %}</span>
    <span class="icon-name ml3 lh-copy f6 f5-ns tc black-60 ellipse">{{ include.icon.basename }}</span>
    <span class="icon-tags dn">{{tags}}</span>
  </a>
</li>
