---
import '@fontsource-variable/inter';
import '../index.css';
import { App } from '../components/app';
---

<html>
  <body class="text-text bg-bg">
    <main>
      <App client:load />
    </main>
  </body>
</html>
